img{
    width:600px;
    height:400px;
}

body{
     background:linear-gradient(#05f762 0%,#058ef7 100%);                                            
    text-align:center;
}
.line{
    background-color:aqua;
width:1000px;
    height:7px

}
img{
    width:600px;
    height:400px;
}

WORK{
    background-color:lawngreen;
}
MYHOBBY{
    background-color:lawngreen;
}
html{
    scro
}